<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter key error</title>
    <link rel="stylesheet" href="/static/css/file_not_found.css">
</head>
<body>
    <div id="infoDiv">
        <h1 id="errorStatusHeader">Enter key error</h1>
        <h3 id="errorMessageHeader">The enter key is incorrect</h3>
        <button id="mainBtn" onclick="window.location.href='/'">Go to main page</button>
    </div>
</body>
</html>