<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path error</title>
    <link rel="stylesheet" href="/static/css/path_error.css">
</head>
<body>
    <div id="infoDiv">
        <h1 id="errorStatusHeader">Path error</h1>
        <h3 id="errorMessageHeader">The requested path was not found. Remember that you should  enter the path after upload folder name. <b id="mainB">For example:</b> upload\example.bin. <b id="secondB">P.S. </b>If you redirected here from files deleting page, it`s not an error. File just wasn`t found because it was deleted. Just click the button below and you will redirect to the main page.</h3>
        <button id="mainBtn" onclick="window.location.href='/'">Go to main page</button>
    </div>
</body>
</html>