<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page shortcuts</title>
    <link rel="stylesheet" href="/static/css/upload_shorcuts.css">
</head>

<body>
    <h1 id="mainHeader">Shortcuts table</h1>
    <table id="mainTable">
        <tr>
            <th>Combination</th>
            <th>Meaning</th>
        </tr>
        <tr>
            <td>Alt + Enter</td>
            <td>Select file</td>
        </tr>
        <tr>
            <td>Alt + S</td>
            <td>Save file in upload folder</td>
        </tr>
        <tr>
            <td>Alt + D</td>
            <td>Download file</td>
        </tr>
        <tr>
            <td>Alt + Delete</td>
            <td>Delete file</td>
        </tr>
        <tr>
            <td>Alt + A</td>
            <td>Get info about all files</td>
        </tr>
        </tr>
    </table>
    <div id="mainBtnDiv">
        <button id="mainBtn" onclick="window.location.href = '/'">Go to main page...</button>
    </div>
</body>

</html>