<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 429</title>
    <link rel="stylesheet" href="/static/css/429.css">
</head>
<body>
    <div id="infoDiv">
        <h1 id="errorStatusHeader">429</h1>
        <h2 id="errorMessageHeader">Too many requests</h2>
        <h3 id="psHeader"><b id="mainB">P.S. </b>Just wait for 5 seconds and you can return to the main page because of requests limit.</h3>
        <button id="mainBtn" onclick="window.location.href='/'">Go to main page</button>
    </div>
</body>
</html>